@page "/counter"

<h1>Counter</h1>

<DateEdit TValue="DateTime?" @bind-Date="@selectedDate"/>


<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private DateTime? selectedDate = DateTime.Now;

    private void IncrementCount()
    {
        currentCount++;
    }
}
